.catalog {
    padding-bottom: 100px;
    &__tabs {
        margin: 70px;
        display: flex;
        list-style-type: none;
        justify-content: center;
        align-items: center;
        
    }
    &__tab {
        border-width: 2px;
        border-color: rgb(208, 208, 208);
        border-style: solid;
        width: 220px;
        height: 50px;
        text-align: center;
        font-weight: 500;
        font-size: 18px;
        color: rgb(107, 107, 107);
        text-transform: uppercase;
        line-height: 48px;
        transform: skewX(-25deg);
        margin: 0 5px;
        cursor: pointer;
        transition: 0.5s all;
        &:hover {
            box-shadow: 3px 3px 20px $main-color;
            border:none;
        }
        
        div {
            transform: skewX(25deg);
        }
        &_active {
            color: #ffffff;
            background-color: $main-color;
            border: none;
        }


    }
    &__content {
        margin-top: 60px;
        display: none;
        justify-content: space-between;
        flex-wrap: wrap;
        &_active {
            display: flex;
        }


    }
    &-item {
        border: 2px solid  rgb(232, 232, 232);
        overflow: hidden;
        width: 300px;
        min-height: 436px;
        padding: 20px 20px 26px 20px;
        margin-bottom: 20px;
        &__img {
            height: 200px;
            max-width: 100%;
            display: block;
            margin: 0 auto;
        }
        &__subtitle {
            margin-top: 20px;
            font-size: 16px;
            color: rgb(13, 13, 13);
            text-align: center;
            font-weight: 700;
        }
        &__descr {
            margin-top: 16px;
            font-size: 14px;
            color: rgb(13, 13, 13);
            text-align: center;
            font-weight: 300;
        }
        &__link {
            margin-top: 17px;
            display: block;
            font-size: 14px;
            color: $main-color;
            text-decoration: underline;
            text-align: center;
            text-transform: uppercase;
            font-weight: 500;
            &:hover {
                color: $main-color;
            }
        }
        hr {
            margin-top: 19px;
            margin-bottom: 21px;
            background-color: rgb(232, 232, 232);
            border-bottom: none;
        }
        &__footer {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        &__old-price {
            font-size: 14px;
            color: rgb(85, 85, 85);
            text-decoration: line-through;
            font-weight: 300;
        }
        &__price {
            font-size: 20px;
            color: rgb(5, 5, 5);
            font-weight: 300;
        }
        &__wrapper {
            display: flex;
            width: calc(200% + 40px);
        }
        &__content {
            width: 50%;
            transform: translateX(calc(-100% - 20px));
            margin-right: 0px;
            transition: .5s all;
            &_active {
                transform: translateX(0%);
                margin-right: 20px;
               

            }

        }
        &__list {
            position: relative;
            width: 50%;
            margin-left: 20px;
            transform: translateX(0%);
            padding-right: 20px;
            transition: .5s all;
            padding-left: 19px;
            margin-bottom: 0;
            list-style-type: none;
            &_active {
                transform: translateX(-100%);
                margin-left: 0px;
            }
            li {
                position: relative;
                font-size: 14px;
                color: rgb(85, 85, 85);
                margin-bottom: 20px;
                font-weight: 300;
                &:before {
                    content: '';
                    position: absolute; 
                    width: 5px;
                    height: 5px;
                    background-color: $main-color;
                    left: -14px;
                    top: 7px;
                }
            }
        }

        &__back {
            position: absolute;
            bottom: 0;
            left: 50%;
            transform: translateX(calc(-50% - 19px));
            display: block;
            font-size: 14px;
            color: $main-color;
            text-decoration: underline;
            text-align: center;
            text-transform: uppercase;
            font-weight: 500;
            &:hover {
                color: $main-color;
            }
        }
    
    }

    
}

